body {
  margin: 3rem;
  font-family: "Open Sans", sans-serif;
  color: black;
  flex-wrap: 10%;
}

h1,
h2 {
  font-family: "Century Gothic", Verdana, sans-serif;
  padding: 0.6em 2em;
  display: inline-block;
  color: black;
  margin: 3rem;
  text-align: initial;
}

h1 {
  background-color: #ac7880;
  transform: rotate(-5deg) skew(-10deg);
  -webkit-transform: rotate(-5deg) skew(-10deg);
  border-radius: 50%;
  box-shadow: 0 0 50px #a96464;
}

h2 {
  border-radius: 3%;
  width: 40%;
  border-bottom: 10px solid lightgrey;
  border: 4px dotted black;
  box-shadow: 0 0 5px 5px rgb(193, 159, 159);
}

.boards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.boards__list {
  max-height: 9rem;
  min-height: 9rem;
  max-width: 3rem;
  min-width: 9rem;
  overflow: scroll;
  margin-left: 3.5rem;
  border: black dashed 1px;
}

/* .new-board-form__container,
.new-card-form__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* .new-board-form__form,
.new-card-form__form {
  display: grid;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100%;
} */

.new-board-form__toggle-btn {
  width: 50%;
  height: 40%;
  background-color: transparent;
  border: 2px solid black;
}

/* .cards__container {
  display: grid;
  /* grid-template-columns: 2fr 1fr; 
 } */

/* .card-items__container {
  display: flex;
  grid-row: 1;
  grid-gap: 2rem;
  margin: 2rem;
} */

.card-item {
  font-family: "Homemade Apple", cursive;
  background-color: rgb(255, 248, 165);
  box-shadow: -10px 7px 7px lightgrey;
  min-height: 200px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
}

.card-item__controls {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  margin: 3rem;
}

.card-item__message {
  text-align: center;
  font-size: 1.4rem;
  word-break: break-word;
}

.card-item__controls > li:hover,
.footer__delete-btn:hover {
  text-decoration: underline;
}

input {
  box-sizing: content-box;
  margin: 0.55rem;
}

.invalid-form-input {
  border: red solid 1px;
  box-shadow: 0 0 7px red;
}

footer {
  text-align: center;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content__container {
  flex: 1 0 auto;
}

.form-row {
  flex-direction: row-reverse;
  display: flex;
}
.submit-form {
  text-align: center;
}
.btn {
  width: 100%;
  background-color: transparent;
}
#cardMessage {
  width: 100%;
  background-color: transparent;
}

#boardTitle,
#board {
  width: 100%;
}
